/* page styles */
html {
	font-size: var(--font-size);
	color: var(--c-fg);
}
a {
	color: var(--c-links);
}
img,
video {
	max-width: 100%;
	max-height: 100vh;
}

code {
	white-space: pre-wrap;
	word-break: break-word;
}

fieldset {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: calc(var(--s) / 2);

	button,
	input,
	select,
	textarea {
		padding: calc(var(--s) / 2);
		font-size: 1rem;
	}
	textarea {
		resize: vertical;
	}
}
