/* mwc web-components and custom-elements,
	 minimal working styles only */
matrix-room {
	display: flex;
	flex-direction: column;
	padding: calc(var(--s) / 2);

	/* if no event-id is requested, we already load the most recent room data
		 (auto synced to get latest) */
	&:not([event-id]) {
		button[dir="after"] {
			display: none;
		}
	}
	button[dir="after"],
	button[dir="before"] {
		margin: var(--s);
	}

	/* when inside a matrix-room */
	matrix-image {
		max-width: calc(var(--s) * 20);
	}
	matrix-send-event {
		/* padding: calc(var(--s) / 2); */
	}
	matrix-event-state {
		matrix-event-actions {
			margin-left: calc(var(--s) / 2);
		}
	}
}
matrix-room-name {
	font-size: var(--s-h1);
}
matrix-room-state {
	display: flex;
	flex-direction: column;
}
matrix-room-topic {
	white-space: pre-wrap;
	word-break: break-word;
}

/* rooms in a room (spaces) */
matrix-space-children,
matrix-space-parents {
	display: flex;
	flex-direction: column;
}
matrix-space-parents {
	matrix-room {
		padding: 0;
		margin-bottom: calc(var(--s) / 2);
	}
	matrix-room-state {
		padding: 0;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
	}
	matrix-room-topic,
	matrix-room-name {
		display: none;
	}
}
